 .u-section-item {
  background-image: none;
}

.u-section-item .u-sheet-1 {
  min-height: 204px;
}

.u-section-item .u-layout-wrap-1 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.u-section-item .u-layout-cell-1 {
  min-height: 179px;
}

.u-section-item .u-container-layout-1 {
  padding: 17px 60px 7px;
}

.u-section-item .u-text-1 {
  margin: 6px 0 0;
}

@media (max-width: 1199px) {
  .u-section-item .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-item .u-layout-wrap-1 {
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .u-section-item .u-layout-cell-1 {
    min-height: 148px;
  }
}

@media (max-width: 991px) {
  .u-section-item .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-item .u-layout-wrap-1 {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .u-section-item .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-item .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-item .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-item .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-item .u-sheet-1 {
    min-height: 158px;
  }
}
 .u-section-2-item {
  background-image: none;
}

.u-section-2-item .u-sheet-1 {
  /*min-height: 1542px;*/
}

.u-section-2-item .u-blog-1 {
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-2-item .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  /*min-height: 1514px;*/
}

.u-section-2-item .u-container-layout-1 {
  padding: 30px 0 22px;
}

.u-section-2-item .u-text-1 {
  font-size: 1.2rem;
  margin: 0 auto 0 30px;
}

.u-section-2-item .u-image-1 {
  height: 335px;
  margin-top: 20px;
  margin-bottom: 0;
  filter: brightness(0.95);
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2-item .u-btn-1 {
  background-image: none;
  margin: 20px 387px 0 30px;
}

.u-section-2-item .u-btn-2 {
  background-image: none;
  margin: -45px 120px 0 auto;
}

.u-section-2-item .u-container-layout-2 {
  padding: 30px 0 22px;
}

.u-section-2-item .u-text-2 {
  font-size: 1.2rem;
  margin: 0 auto 0 30px;
}

.u-section-2-item .u-image-2 {
  height: 335px;
  margin-top: 20px;
  margin-bottom: 0;
  filter: brightness(0.95);
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2-item .u-btn-3 {
  background-image: none;
  margin: 20px 387px 0 30px;
}

.u-section-2-item .u-btn-4 {
  background-image: none;
  margin: -45px 120px 0 auto;
}

.u-section-2-item .u-container-layout-3 {
  padding: 30px 0 22px;
}

.u-section-2-item .u-text-3 {
  font-size: 1.2rem;
  margin: 0 auto 0 0;
}

.u-section-2-item .u-image-3 {
  height: 435px;
  margin-top: 20px;
  margin-bottom: 0;
  filter: brightness(0.95);
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2-item .u-btn-5 {
  background-image: none;
  margin: 20px 387px 0 30px;
}

.u-section-2-item .u-btn-6 {
  background-image: none;
  margin: -45px 120px 0 auto;
}

.u-section-2-item .u-container-layout-4 {
  padding: 30px 0 22px;
}

.u-section-2-item .u-image-4 {
  height: 335px;
  margin-top: 20px;
  margin-bottom: 0;
  filter: brightness(0.95);
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2-item .u-btn-7 {
  background-image: none;
  margin: 20px 387px 0 30px;
}

.u-section-2-item .u-btn-8 {
  background-image: none;
  margin: -45px 120px 0 auto;
}

.u-section-2-item .u-container-layout-5 {
  padding: 30px 0 22px;
}

.u-section-2-item .u-text-5 {
  font-size: 1.2rem;
  margin: 0 auto 0 30px;
}

.u-section-2-item .u-image-5 {
  height: 335px;
  margin-top: 20px;
  margin-bottom: 0;
  filter: brightness(0.95);
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2-item .u-btn-9 {
  background-image: none;
  margin: 20px 387px 0 30px;
}

.u-section-2-item .u-btn-10 {
  background-image: none;
  margin: -45px 120px 0 auto;
}

.u-section-2-item .u-container-layout-6 {
  padding: 30px 0 22px;
}

.u-section-2-item .u-text-6 {
  font-size: 1.2rem;
  margin: 0 auto 0 30px;
}

.u-section-2-item .u-image-6 {
  height: 335px;
  margin-top: 20px;
  margin-bottom: 0;
  filter: brightness(0.95);
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-2-item .u-btn-11 {
  background-image: none;
  margin: 20px 387px 0 30px;
}

.u-section-2-item .u-btn-12 {
  background-image: none;
  margin: -45px 120px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2-item .u-repeater-1 {
    /*min-height: 1248px;*/
  }

  .u-section-2-item .u-btn-1 {
    background-size: auto;
    margin-right: 217px;
  }

  .u-section-2-item .u-btn-2 {
    margin-right: 30px;
  }

  .u-section-2-item .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-2-item .u-btn-3 {
    background-size: auto;
    margin-right: 217px;
  }

  .u-section-2-item .u-btn-4 {
    margin-right: 30px;
  }

  .u-section-2-item .u-image-3 {
    background-position: 50% 50%;
  }

  .u-section-2-item .u-btn-5 {
    background-size: auto;
    margin-right: 217px;
  }

  .u-section-2-item .u-btn-6 {
    margin-right: 30px;
  }

  .u-section-2-item .u-image-4 {
    background-position: 50% 50%;
  }

  .u-section-2-item .u-btn-7 {
    background-size: auto;
    margin-right: 217px;
  }

  .u-section-2-item .u-btn-8 {
    margin-right: 30px;
  }

  .u-section-2-item .u-image-5 {
    background-position: 50% 50%;
  }

  .u-section-2-item .u-btn-9 {
    background-size: auto;
    margin-right: 217px;
  }

  .u-section-2-item .u-btn-10 {
    margin-right: 30px;
  }

  .u-section-2-item .u-image-6 {
    background-position: 50% 50%;
  }

  .u-section-2-item .u-btn-11 {
    background-size: auto;
    margin-right: 217px;
  }

  .u-section-2-item .u-btn-12 {
    margin-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2-item .u-sheet-1 {
    min-height: 2986px;
  }

  .u-section-2-item .u-blog-1 {
    margin-top: 17px;
  }

  .u-section-2-item .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2969px;
  }

  .u-section-2-item .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-2-item .u-btn-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2-item .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2-item .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-2-item .u-btn-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2-item .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2-item .u-container-layout-3 {
    padding-bottom: 10px;
  }

  .u-section-2-item .u-btn-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2-item .u-btn-6 {
    margin-right: 0;
  }

  .u-section-2-item .u-container-layout-4 {
    padding-bottom: 10px;
  }

  .u-section-2-item .u-btn-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2-item .u-btn-8 {
    margin-right: 0;
  }

  .u-section-2-item .u-container-layout-5 {
    padding-bottom: 10px;
  }

  .u-section-2-item .u-btn-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2-item .u-btn-10 {
    margin-right: 0;
  }

  .u-section-2-item .u-container-layout-6 {
    padding-bottom: 10px;
  }

  .u-section-2-item .u-btn-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2-item .u-btn-12 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2-item .u-sheet-1 {
    min-height: 2966px;
  }

  .u-section-2-item .u-blog-1 {
    margin-top: 10px;
  }

  .u-section-2-item .u-repeater-1 {
    min-height: 2956px;
  }

  .u-section-2-item .u-container-layout-1 {
    padding-top: 2px;
  }

  .u-section-2-item .u-text-1 {
    font-size: 1.25rem;
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-2-item .u-container-layout-2 {
    padding-top: 2px;
  }

  .u-section-2-item .u-text-2 {
    font-size: 1.25rem;
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-2-item .u-container-layout-3 {
    padding-top: 2px;
  }

  .u-section-2-item .u-text-3 {
    font-size: 1.25rem;
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-2-item .u-container-layout-4 {
    padding-top: 2px;
  }

  .u-section-2-item .u-container-layout-5 {
    padding-top: 2px;
  }

  .u-section-2-item .u-text-5 {
    font-size: 1.25rem;
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-2-item .u-container-layout-6 {
    padding-top: 2px;
  }

  .u-section-2-item .u-text-6 {
    font-size: 1.25rem;
    margin-top: 29px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2-item .u-sheet-1 {
    min-height: 2908px;
  }

  .u-section-2-item .u-blog-1 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .u-section-2-item .u-repeater-1 {
    min-height: 2688px;
  }

  .u-section-2-item .u-container-layout-1 {
    padding-top: 4px;
  }

  .u-section-2-item .u-text-1 {
    font-size: 1.125rem;
    margin-top: 20px;
  }

  .u-section-2-item .u-btn-1 {
    padding: 10px 21px;
  }

  .u-section-2-item .u-btn-2 {
    padding: 10px 5px;
  }

  .u-section-2-item .u-container-layout-2 {
    padding-top: 4px;
  }

  .u-section-2-item .u-text-2 {
    font-size: 1.125rem;
    margin-top: 20px;
  }

  .u-section-2-item .u-btn-3 {
    padding: 10px 21px;
  }

  .u-section-2-item .u-btn-4 {
    padding: 10px 5px;
  }

  .u-section-2-item .u-container-layout-3 {
    padding-top: 4px;
  }

  .u-section-2-item .u-text-3 {
    font-size: 1.125rem;
    margin-top: 20px;
  }

  .u-section-2-item .u-btn-5 {
    padding: 10px 21px;
  }

  .u-section-2-item .u-btn-6 {
    padding: 10px 5px;
  }

  .u-section-2-item .u-container-layout-4 {
    padding-top: 4px;
  }

  .u-section-2-item .u-btn-7 {
    padding: 10px 21px;
  }

  .u-section-2-item .u-btn-8 {
    padding: 10px 5px;
  }

  .u-section-2-item .u-container-layout-5 {
    padding-top: 4px;
  }

  .u-section-2-item .u-text-5 {
    font-size: 1.125rem;
    margin-top: 20px;
  }

  .u-section-2-item .u-btn-9 {
    padding: 10px 21px;
  }

  .u-section-2-item .u-btn-10 {
    padding: 10px 5px;
  }

  .u-section-2-item .u-container-layout-6 {
    padding-top: 4px;
  }

  .u-section-2-item .u-text-6 {
    font-size: 1.125rem;
    margin-top: 20px;
  }

  .u-section-2-item .u-btn-11 {
    padding: 10px 21px;
  }

  .u-section-2-item .u-btn-12 {
    padding: 10px 5px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 145px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 36px;
  margin-bottom: 36px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 74px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 73px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.2rem;
  margin: -50px 25px 0 -97px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  height: 73px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.2rem;
  margin: -50px 25px 0 -97px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  height: 73px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.2rem;
  margin: -50px 25px 0 -97px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-bottom: 20px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 78px;
  }

  .u-section-3 .u-image-1 {
    height: 60px;
    margin-top: 5px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -45px;
    margin-right: 0;
    margin-left: -60px;
  }

  .u-section-3 .u-image-2 {
    height: 60px;
    margin-top: 5px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -45px;
    margin-right: 0;
    margin-left: -60px;
  }

  .u-section-3 .u-image-3 {
    height: 60px;
    margin-top: 5px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -45px;
    margin-right: 0;
    margin-left: -60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 26px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 181px;
  }

  .u-section-3 .u-image-1 {
    height: 69px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -48px;
    margin-right: 33px;
    margin-left: -33px;
  }

  .u-section-3 .u-image-2 {
    height: 69px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -48px;
    margin-right: 33px;
    margin-left: -33px;
  }

  .u-section-3 .u-image-3 {
    height: 69px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -48px;
    margin-right: 33px;
    margin-left: -33px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    margin-top: 21px;
    margin-bottom: 31px;
  }

  .u-section-3 .u-image-1 {
    height: 104px;
    width: 265px;
    margin-top: -5px;
    margin-right: -2px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: -56px;
    margin-right: 31px;
    margin-left: -31px;
  }

  .u-section-3 .u-image-2 {
    height: 104px;
    width: 265px;
    margin-top: -5px;
    margin-right: -2px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: -56px;
    margin-right: 31px;
    margin-left: -31px;
  }

  .u-section-3 .u-image-3 {
    height: 104px;
    width: 265px;
    margin-top: -5px;
    margin-right: -2px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: -56px;
    margin-right: 31px;
    margin-left: -31px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 14px;
    margin-bottom: 37px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 65px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -48px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 65px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -48px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 65px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -48px;
    margin-left: 0;
    margin-right: 0;
  }
}

 h99:before, h99:after {
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 30%;
   height: 2px;
   background-color: #00cf00;
   position: relative;
 }